<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiet san pham </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <h1>Trang Thương Mại Điện Tử</h1>
    <nav>
        <a href="/" th:href="@{/}">Trang chủ</a>
        <a href="/products" th:href="@{/products}">Sản phẩm</a>
        <a href="/cart" th:href="@{/cart}">Giỏ hàng</a>
        <a href="/checkout" th:href="@{/checkout}">Thanh toán</a>
    </nav>
</header>

<section class="product-detail">
    <div class="product">
        <img th:src="@{${product.imageUrl}}" alt="product image">
        <h2 th:text="${product.name}"></h2>
        <p th:text="${product.description}"></p>
        <p th:text="${product.price}"></p>
        <form th:action="@{/cart/add}" method="post">
            <input type="hidden" name="productId" th:value="${product.id}">
            <button type="submit">Thêm vào giỏ hàng</button>
        </form>
    </div>
</section>
</body>
</html>
